@model ConsoleApplication.Models.Entities.Student

@{
    ViewBag.Title = "Update Student - "+ @Model.FirstName;
    ViewBag.btnText = "Update";
}

<form asp-controler="Student" asp-action="Update" method="POST" class="form-horizontal" >
    <input class="form-control" type="Hidden" asp-for="StudentID">
    
    @Html.Partial("_StudentsForm")
    
    
</form>